body {
    margin: 0px;
    padding: 0px;
}
.my-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 15px;
    align-items: center;
}
img {
    width: 200px;
}
img:hover {   
    background-color:lightgray;
  }