body {
    margin: 0px;
    padding: 0px;
}
.my-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    gap: 15px;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 200px;
      max-width: 100px;
    max-height: 150px;
    width: auto;
    height: auto;
    padding: 15px;
}
.item:hover {   
    background-color:lightgray;
  }
